/* головний колір сірий #757575*/

/* Другорядний черний #212121 */

/* акцнт  #2196F3*/

/* ВТОРИЧНИЙ задній фон чорний #2F303A */
:root {
    --primary-text-color: #757575;
    /* заголовки */
    --second-text-color: #212121;
    --accent-color: #2196F3;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    color: #757575;
}
/* точки спику прибрали */
ul {
    list-style: none;
}

/* main */
.main{
    Letter-spacing: 3%
}

/* логотип */
.logo {
    font-family: 'Raleway' sans-serif;
    color: var(--second-text-color);
    Font-style: Bold;
    Font-size: 26px;
    Line-height: 1/19;
    Line-height: 100%;
    Align: Left;
    Vertical-align: Top;
    Letter-spacing: 3%;
}
/* перша частина логотипа */
.part {
    color: #2196F3;
}
.logo:hover,
.logo:focus{
    color: var(--accent-color);
}




.site-nav .link{
    color: var(--second-text-color);
    Font-family: Roboto;
    Font-style: Medium;
    Font-size: 14px;
    Line-height: 0.4;
    Line-height: 100%;
    Align: Left;
    Vertical-align: Top;
    Letter-spacing: 2%;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}

/* hiro */
.hiro{
    background-color: #2F303A;
    letter-spacing: 6%;
}
.hiro-title {
    color: #FFFFFF;
    Font-style: Black;
    Font-size: 44px;
    Line-height: 1.36;
    Line-height: 116%;
    Align: Center;
    Verticl-align: Top;
}
.hiro-button{
    font-family: inherit;
    color: var(--second-text-color);
    background-color: #F5F4FA;
    Font-style: Bold;
    Font-size: 16px;
    Line-height: 1.87;
    Line-height: 160%;
    Align: Center;
    Vertical-align: Center;
    cursor: pointer;
}
.hiro-button:hover,
.hiro-button:focus{
    color: #FFFFFF;
    background-color: var(--accent-color);
}
/* sections */
.section-title{
    color: var(--second-text-color);
    Font-style: Bold;
    Font-size: 36px;
    Line-height: 1.16;
    Line-height: 100%;
    Align: Center;
    Vertical-align: Top;
}
/* privileges */
.privileges-title {
    color: var(--second-text-color);
    Font-style: Bold;
    Font-size: 14px;
    Line-height: 1.14;
    Line-height: 100%;
    Align: Left;
    Vertical-align: Top;
}
.privileges-text{
    color: var(--second-text-color);
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 1.7;
    Line-height: 146%;
    Align: Left;
    Vertical-align: Top;
}

/* team */
.team-title {
    color: var(--second-text-color);
    Font-style: Medium;
    Font-size: 16px;
    Line-height: 1.18;
    Line-height: 100%;
    Align: Center;
    Vertical-align: Top;
}
.work{
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 1.18;
    Line-height: 100%;
    Align: Center;
    Vertical-align: Top;
}


/* footer */

.footer{
    Letter-spacing: 3%;
}

.foot-logo {
    font-family: 'Raleway' sans-serif;
    color: var(--second-text-color);
    Font-style: Bold;
    Font-size: 26px;
    Line-height: 1.19;
    Line-height: 100%;
    Align: Left;
    Vertical-align: Top;

}
/* перша частина логотипа */
.part {
    color: #2196F3;
}

.address {
    color: #FFFFFF;
    opacity: .6;
    background-color: #2F303A;
    Font-style: Regular;
    Font-size: 14px;
    Line-height: 1.7;
    Line-height: 146%;
    Align: Left;
    Vertical-align: Top;
}
.address-link {
    color: #FFFFFF;
}


/* portfolio */
.button{
    font-family: inherit;
    color: var(--second-text-color);
    background-color: #F5F4FA;
    Font-style: Medium;
    Font-size: 16px;
    Line-height: 1.6;
    Line-height: 139%;
    Align: Center;
    Vertical-align: Top;
    Letter-spacing: 3%;
    cursor: pointer;
}
.button:hover,
.button:focus{
    color: #FFFFFF;
    background-color: var(--accent-color);
}
.offers-title{
    color: var(--second-text-color);
    Font-style: Bold;
    Font-size: 18px;
    Line-height: 2;
    Line-height: 171%;
    Align:-Left;
    Vertical-align: Top;
    Letter-spacing: 6%;
}
.offers-tipe{
    Font-style: Regular;
    Font-size: 16px;
    Line-height: 1.87;
    Line-height: 160%;
    Align: Left;
    Vertical-align: Top;
    Letter-spacing: 3%;
}


