/* головний колір сірий #757575*/

/* Другорядний черний #212121 */

/* акцнт  #2196F3*/

/* ВТОРИЧНИЙ задній фон чорний #2F303A */
:root {
    --primary-text-color: #757575;
    /* заголовки */
    --second-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #ffffff;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}
/* точки спику прибрали */
ul {
    list-style: none;
}

/* main */


/* логотип */
.logo {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-style: bold;
    font-size: 26px;
    line-height: 1.19;
    vertical-align: top;
    text-decoration: none;
}
/* перша частина логотипа */
.part {
    color: #2196F3;
}





.site-nav .link{
    color: var(--second-text-color);
    font-family: roboto;
    font-style: medium;
    font-size: 14px;
    line-height: 0.4;
    vertical-align: Top;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
.contact .link{
    color: var(--second-text-color);
    font-family: roboto;
    font-style: medium;
    font-size: 14px;
    line-height: 0.4;

    vertical-align: Top;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contact .link:hover,
.contact .link:focus{
    color: var(--accent-color);
}

/* hiro */
.hero{
    background-color: #2F303A;
    letter-spacing: 0.06em;
}
.hero-title {
    color: var(--white-color);
    font-style: black;
    font-size: 44px;
    line-height: 1.36;
    vertical-align: top;
}
.hero-button{
    font-family: inherit;
    color: var(--second-text-color);
    background-color: #F5F4FA;
    font-style: bold;
    font-size: 16px;
    line-height: 1.87;

    vertical-align: center;
    cursor: pointer;
}
.hiro-button:hover,
.hiro-button:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}
/* sections */
.section-title{
    color: var(--second-text-color);
    font-style: bold;
    font-size: 36px;
    line-height: 1.16;
    vertical-align: top;
}
/* privileges */
.privileges-title {
    color: var(--second-text-color);
    font-style: bold;
    font-size: 14px;
    line-height: 1.14;
    vertical-align: top;
}
.privileges-text{
    color: var(--second-text-color);
    font-style: regular;
    font-size: 14px;
    line-height: 1.7;
    vertical-align: top;
}

/* team */
.team-title {
    color: var(--second-text-color);
    font-style: medium;
    font-size: 16px;
    line-height: 1.18;
    vertical-align: top;
}
.work{
    font-style: Regular;
    font-size: 16px;
    line-height: 1.18;
    vertical-align: top;
}


/* footer */



.foot-logo {
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-style: bold;
    font-size: 26px;
    line-height: 1.19;
    vertical-align: top;

}
/* перша частина логотипа */
.part {
    color: #2196F3;
}

.address {
    color: var(--white-color);
    opacity: .6;
    background-color: #2F303A;
    font-style: regular;
    font-size: 14px;
    line-height: 1.7;
    vertical-align: top;
}
.address-link {
    color: var(--white-color);
}


/* portfolio */
.button{
    font-family: inherit;
    color: var(--second-text-color);
    background-color: #F5F4FA;
    font-style: medium;
    font-size: 16px;
    line-height: 1.6;

    align: Center;
    vertical-align: Top;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.button:hover,
.button:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
}
.offers-title{
    color: var(--second-text-color);
    font-style: bold;
    font-size: 18px;
    line-height: 2;
    vertical-align: Top;
    letter-spacing: 0.06em;
}
.offers-tipe{
    font-style: Regular;
    font-size: 16px;
    line-height: 1.87;
    vertical-align: Top;
    letter-spacing: 0.03em;
}


